{% extends 'BaseTemplate/BaseTemplateFamedic.html' %}

{% block page_content_view %}
    <style>

        /*Estilos para el hr de la tarjeta 1n*/
        hr.hr_style{
            border-top: 1px solid #000A26;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 5%;
        }

        /*Estilos para los textos del main*/
        .titulo_holamundo{
            padding-top: 150px;
            padding-bottom: 5px;
            text-align: left;
            font-weight: bold;
            color: #000A26;
        }
        .titulo_card{
            margin: 5% 5% 5%;
            font-weight: bold;
        }
        .menu_contenido_tarjeta1{
            margin-left: 5%;
            margin-top: 5%;
            text-align: left;
        }
        .search_bar_tarjeta{
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            margin-bottom: 10%;
        }

        /*Estilos para las tarjetas de contenido*/
        .dir_tarjeta{
            align-content: center;
        }
        .posicion_tarjeta{
            margin-top: 5px;
            width: auto;
            height: auto;

        }
        .contenido_tarjeta_1{
            background-color: #ccd3e0;
            min-height: 600px;
            height: auto;

            -webkit-box-shadow: 0 2px 15px 2px rgba(22,37,76,1);
            -moz-box-shadow: 0 2px 15px 2px rgba(22,37,76,1);
            box-shadow: 0 2px 15px 2px rgb(22, 37, 76);
        }
        .contenido_tarjeta_2{
            background-color: #F2F2EE;
            min-height: 600px;
            height: auto;

            -webkit-box-shadow: 0 2px 15px 2px rgba(22,37,76,1);
            -moz-box-shadow: 0 2px 15px 2px rgba(22,37,76,1);
            box-shadow: 0 2px 15px 2px rgba(22,37,76,1);
        }
        .boton_radicados{
           color: #16254C;

       }
    </style>

    <!-- Sección de contenido para ambas tarjetas de la pantalla principal-->
    <section class="pb-5">
        <div class="container dir_tarjeta">

            <!-- Título del sitio principal -->
            <h2 class="titulo_holamundo">Bienvenido al portal, {{user_name}}</h2>
            <div class="row justify-content--center">

                <!-- Tarjeta izquierda del sitio principal y su contenido-->
                <div class="col-lg-4 posicion_tarjeta">
                    <div class="card contenido_tarjeta_1">

                        <h5 class="titulo_card">Bienvenido al portal de radicación de facturas</h5>

                        <ul class="nav flex-column menu_contenido_tarjeta1">
                            <li class="nav-item">
                                <a class="nav-link active boton_radicados" href="{% url 'profile' %}">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link boton_radicados" href="{% url 'settings' %}">Opciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link boton_radicados" href="{% url 'radicar' %}">Radicar</a>
                            </li>
                            <li class="nav-item">
                                {% if user.is_admin %}
                                    <a class="nav-link boton_radicados" href="{% url 'radicados_list' %}">Lista de radicados</a>
                                {% else %}
                                    <a class="nav-link boton_radicados" href="{% url 'radicados_list' %}">Mis radicados</a>
                                {% endif %}
                            </li>
                            {% if user.is_admin %}
                            <li class="nav-item">
                                <a class="nav-link boton_radicados" href="{% url 'admin' %}">Administrar sitio</a>
                            </li>
                            {% endif %}

                        </ul>

                        <hr class="hr_style">

                        {% if user.is_admin %}

                            <div class="input-group search_bar_tarjeta">
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="searchbar_famedic">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buscar</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" id="rad_search">Buscar por radicado</a>
                                        <a class="dropdown-item" href="#" id="document_search">Buscar por documento</a>
                                        <a class="dropdown-item" href="#" id="nit_search">Buscar por NIT</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% block hist_radicados %}

                            <!-- Contenido adicional de la tarjeta 1-->

                        {% endblock %}
                    </div>
                </div>

                <!-- Tarjeta derecha del sitio principal y su contenido-->
                <div class="col-lg-8 posicion_tarjeta">
                    <div class="card contenido_tarjeta_2">
                        {% block panel_main %}

                            <!-- Contenido adicional de la tarjeta 2-->

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
