# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/awx4g5ommavf/FamedicAppWeb/qa-proveedores.famedicips.co"
PassengerBaseURI "/"
PassengerPython "/home/awx4g5ommavf/virtualenv/FamedicAppWeb/qa-proveedores.famedicips.co/3.7/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END