{% extends 'BaseTemplate/BaseTemplateFamedic.html' %}

<title>Inicio de Sesion</title>

{% block page_content_view %}

    <style type="text/css">

		.ingresorad_login{
			width: 40%;
			height: 10px;
			margin-left: 30%;
			background: rgba(242, 242, 238, 0.75);
			border-radius: 3px;
			margin-top: 9%;
            text-align: left;
            margin-bottom: 13%;

            -webkit-box-shadow: 0 2px 15px 2px rgba(22,37,76,1);
            -moz-box-shadow: 0 2px 15px 2px rgba(22,37,76,1);
            box-shadow: 0 2px 15px 2px rgba(22,37,76,1);
		}

	</style>

    <!-- Estructura del bloque de contenido Django -->
	<div class="row justify-content-center ingresorad_login">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" style="margin-top: 15px">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          {% block contenido_login %}

              <!-- Aqui va el contenido del formulario de inicio de sesion (logIn.html) -->

          {% endblock %}
        </div>
    </div>

{% endblock %}




