{% extends 'BaseMainPage/BaseMain.html' %}
{% load static %}

{% block titulo %} {% if page_title %} {{ page_title }} {% else %} Lista de radicados {% endif %} {% endblock %}

<!-- Bloque de contenido para la tarjeta 2 (derecha)-->
{% block panel_main %}

    <style>

        hr.lista_radicados{
            margin-left: 5%;
            margin-right: 5%;
            border-top: 1px solid #16254C;
            width: 655px;
            text-align: center;
       }

       .Radicado_main_box{

           margin: 5%;
           width: 655px;
           height: auto;
       }

       .card_rad_style{

           text-align: left;

           background-color: #ccd3e0;

           -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
       }

       .boton_detalles{
           color: #ffffff;
           background-color: #000A26;
       }

    </style>

     <div class="Radicado_main_box">
        <h4><strong>{% if user.is_admin %} Lista de radicados {% else %} Mis radicados {% endif %}</strong></h4>
         <br>
        <p>Puede ver el detalle de cada facturación realizada en el portal, si necesita mas detalles
        respecto a una facturación podrá obtener mas informacion haciendo click en el botón "Mas información".</p>
     </div>

    <hr class="lista_radicados">

    <div class="Radicado_main_box">

        {% for radicado in object_list %}
            <div class="card card_rad_style">
                <div class="card-header">
                    <i>Radicado Número {{ radicado.id }}</i>
                </div>

                <div class="card-body">
                    <h5 class="card-title"><strong>Número consecutivo: {{ radicado.id_factura }}</strong></h5>
                    <br>
                    <p class="card-text"><strong>Fecha de radicado:</strong> {{ radicado.datetime_radicado }}</p>
                    <p class="card-text"><strong>Valor de la factura:</strong> $ {{ radicado.monto_factura}}</p>
                    <p class="card-text"><strong>Régimen de factura:</strong> {{ radicado.get_regimen_type_display }}</p>
                    <p class="card-text"><strong>Observaciónes:</strong> {% if radicado.observaciones %} {{ radicado.observaciones }} {% else %} Ninguna {% endif %}</p>
                    <a href="{% url 'radicado_detail' radicado.id %}" class="btn btn-primary boton_detalles">Mas información</a>
                </div>
            </div>
            <br>
        {% endfor %}

    </div>

    <div class="pagination Radicado_main_box">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">Ant.</a>
            {% endif %}

            <span class="current">
                Pág {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Sig.</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
