{% extends 'BaseMainPage/BaseMain.html' %}
{% load static %}

<!-- Bloque de contenido para la tarjeta 2 (derecha)-->
{% block panel_main %}

    <style>
       .Radicado_main_box{

           margin: 5%;
           padding: 3%;
           width: 655px;
           height: 400px;
           background-color: #c8ced9;
           border-radius: 3px;
           -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
       }
       hr.perfil{
            margin-left: 5%;
            margin-right: 5%;
            border-top: 1px solid #16254C;
            width: 550px;
       }
       .aligment_text{
           text-align: left;
       }
    </style>

    <div class="Radicado_main_box">

        <h2>{{ user.get_full_name }}</h2>

        <hr class="perfil">
    </div>

{% endblock %}
