{% extends 'BaseMainPage/BaseMain.html' %}
{% load static %}

{% block titulo %} {{ page_title }} {% endblock %}

<!-- Bloque de contenido para la tarjeta 2 (derecha)-->
{% block panel_main %}

    <style>
       .Radicado_main_box{

           margin: 5%;
           padding: 3%;
           width: 655px;
           height: auto;
           background-color: #c8ced9;
           border-radius: 3px;
           -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
       }
       .shadow_card_profile{
           -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
       }
       hr.perfil{
            margin-left: 5%;
            margin-right: 5%;
            border-top: 1px solid #16254C;
            width: 550px;
       }
       .monto_content{
           padding-left: 30px;
           text-align: left;
           font-size: 20px;
       }
       .aligment_text{
           text-align: left;
       }
    </style>

    <div class="Radicado_main_box">

        <h2>{{ user.get_full_name }}</h2>
        <img src="{% if user.profile_foto %} {{ user.profile_foto.url }} {% else %} {% static 'resouces/no_photo_famedic.svg' %} {% endif %}" width="150" height="150" alt="">

        <hr class="perfil">

        <br>

        <div class="card shadow_card_profile">
            <div class="card-header" style="font-size: 20px">
                Datos del Usuario
            </div>
            <img src="{% static 'resouces/cover_profile.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">A continuacón encontrará toda la información básica de su usuario en el
                portal de radicación de facturas. Si usted no es administrador sera necesario contactar con uno
                en caso de requerir modificar sus datos de usuario.</p>
                <br>

                <div class="monto_content row form-group">
                    <label for="idFactura" class="col-sm-5 col-form-label"><strong>Nombre contrato:</strong></label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="idFactura" value="{{ user.get_first_name }}">
                    </div>
                </div>

                <div class="monto_content row form-group">
                    <label for="idFactura" class="col-sm-5 col-form-label"><strong>Persona natural:</strong></label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="idFactura" value="{{ user.get_last_name }}">
                    </div>
                </div>
                <br>

                <div class="monto_content row form-group">
                    <label for="idFactura" class="col-sm-5 col-form-label"><strong>Número de teléfono:</strong></label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="idFactura" value="(+57) {{ user.get_phone }}">
                    </div>
                </div>

                <div class="monto_content row form-group">
                    <label for="idFactura" class="col-sm-5 col-form-label"><strong>Correo electrónico:</strong></label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="idFactura" value="{{ user.get_mail }}">
                    </div>
                </div>

                <div class="monto_content row form-group">
                    <label for="idFactura" class="col-sm-5 col-form-label"><strong>Entidad a la que pertenece:</strong></label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="idFactura" value="{{ user.get_location }}">
                    </div>
                </div>

                <div class="monto_content row form-group">
                    <label for="idFactura" class="col-sm-5 col-form-label"><strong>Tipo de usuario:</strong></label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext" id="idFactura" value="{% if user.is_admin %} Administrador {% else %} Usuario estandar {% endif %}">
                    </div>
                </div>

                {% if user.is_admin %}
                    <br>
                    <a href="{% url 'admin' %}" class="btn btn-primary">Administrar perfil</a>
                    <a href="{% url 'passwordchangesave' %}" class="btn btn-primary">Cambiar contraseña</a>
                {% else %}
                    <a href="{% url 'passwordchangesave' %}" class="btn btn-primary">Cambiar contraseña</a>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
