{% extends 'BaseMainPage/BaseMain.html' %}
{% load static %}

<!-- Bloque de contenido para la tarjeta 1 (izquierda)-->
{% block hist_radicados %}


<style>
       .rectangulo_prueba2{

           margin: 5%;
           width: 310px;
           height: 300px;
           background-color: #26000f;
       }
    </style>

    <div class="rectangulo_prueba2"></div>
{% endblock %}

<!-- Bloque de contenido para la tarjeta 2 (derecha)-->
{% block panel_main %}

    <style>
       .Radicado_main_box{

           margin: 5%;
           width: 655px;
           height: 400px;
           background-color: #000A26;
       }
    </style>

    <div class="rectangulo_prueba1"></div>

{% endblock %}
