{% extends 'BaseMainPage/BaseMain.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!-- Bloque de contenido para la tarjeta 1 (izquierda)-->
{% block hist_radicados %}


    <style>

       .botones_panel{
           margin-left: 5%;
           margin-right: 5%;
           margin-bottom: 5%;
           height: 60px;
           color: #ffffff;
           background-color: #000A26;
       }
       .boton_radicados{
           color: #000A26;
           padding-bottom: 15px;
       }
    </style>

    <button type="button" class="btn btn-primary btn-lg botones_panel">Radicado 1</button>
    <button type="button" class="btn btn-primary btn-lg botones_panel">Radicado 2</button>
    <button type="button" class="btn btn-primary btn-lg botones_panel">Radicado 3</button>

    <a class="btn btn-link boton_radicados" role="button" href="{% url 'radicados_list' %}">Ver todos los radicados</a>

{% endblock %}

<!-- Bloque de contenido para la tarjeta 2 (derecha)-->
{% block panel_main %}

    <style>

        /* Estilos para la parte superior del formulario */
       .rectangulo_prueba1{
           margin: 5%;
           width: 655px;
           height: auto;
           background-color: #c8ced9;
           -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
       }
       .id_factura{
           text-align: left;
           margin-top: 15px;
           margin-left: 15px;
           font-weight: bold;
       }
       hr.radicacion{
           border-top: 3px solid #16254C;
           width: 200px;
           margin-left: 15px;
       }

       /* Estilos para la parte de ingreso del monto de factura */
       .monto_content{
           padding-left: 1px;
       }
       .monto_field{
           width: 30%;
       }

       /* Estilos para la el cargue de archivos */
       .file_box{
           margin-left: 10px;
       }
       .file_input_box{
           padding-left: 20px;
           padding-right: 20px;

           background-color: #000A26;
           border-radius: 4px;
           width: 300px;
           height: 150px;
           margin: 5px
       }
       .file_input_box label{
           text-align: left;
       }
       .file_input_label{
           color: #FFFFFF;
           font-size: 20px;
           margin-top: 50px;
       }
        .file_input_icon{
            margin-top: 20px;
            margin-bottom: 18px;
       }

       /* Estilos para la zona de observaciones */
       .label_textarea{
           text-align: left;
           margin-right: 15px;
           margin-left: 15px;
       }
       .boton_registrar{
           background-color: #000A26;
           float: right;
           margin-top: 5px;
           margin-right: 15px;
       }

    </style>

    <!--  -->
    <div class="rectangulo_prueba1">
        <form method="POST">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <button class="btn btn-primary btn-lg boton_registrar" type="submit">Radicar</button>
            <h5 class="id_factura">Factura No. {{ num_rad }}</h5>
            <hr class="radicacion">
            <br>

            <div class="monto_content row input-group">
                <label for="colFormLabel" class="col-sm-3 col-form-label">Monto de la factura*</label>

                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>

                {{ form.monto_factura }}

            </div>
            <br>
            <br>

            <div class="file_box row">

                <div class="file_input_box">
                    <img class="file_input_icon" src="{% static '/resouces/upload.svg' %}" width="50px" height="50px" alt="">
                    <span class="file_input_label">Factura*</span>
                    <div class="custom-file">
                        {{ form.file_factura }}
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>

                <div class="file_input_box">
                    <img class="file_input_icon" src="{% static '/resouces/upload.svg' %}" width="50px" height="50px" alt="">
                    <span class="file_input_label">Aportes*</span>
                    <div class="custom-file">
                        {{ form.file_aportes }}
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>

                <div class="file_input_box">
                    <img class="file_input_icon" src="{% static '/resouces/upload.svg' %}" width="50px" height="50px" alt="">
                    <span class="file_input_label">Soportes de factura*</span>
                    <div class="custom-file">
                        {{ form.file_soporte }}
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>

                <div class="file_input_box">
                    <img class="file_input_icon" src="{% static '/resouces/upload.svg' %}" width="50px" height="50px" alt="">
                    <span class="file_input_label">Ribs*</span>
                    <div class="custom-file">
                        {{ form.file_ribs }}
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group label_textarea">
                <label for="exampleFormControlTextarea1" class="">Observaciones</label>
                {{ form.observaciones }}
            </div>

        </form>
    </div>




{% endblock %}
