{% extends 'BaseMainPage/BaseMain.html' %}
{% load tz %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block titulo %} {{ page_title }} {% endblock %}

<!-- Bloque de contenido para la tarjeta 2 (derecha)-->
{% block panel_main %}

    <style>

        /* Estilos para la parte superior del formulario */
       .Radicado_main_box{

           margin: 5%;
           width: 655px;
           height: auto;
           background-color: #c8ced9;
           -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
           box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
       }
       .id_factura_label{
           text-align: left;
           margin-top: 15px;
           margin-left: 15px;
           font-weight: bold;
       }

       hr.radicacion{
           border-top: 3px solid #16254C;
           width: 400px;
           margin-left: 15px;
       }

       /* Estilos para la parte de ingreso del monto de factura */
       .monto_content{
           text-align: left;
           padding-left: 15px;
       }
       .monto_field{
           width: 50%;
       }

       /* Estilos para la el cargue de archivos */
       .file_box{
           margin-left: 17px;
       }
       .file_input_box{
           padding-left: 20px;
           padding-right: 20px;

           background-color: #000A26;
           border-radius: 4px;
           width: 300px;
           height: 150px;
           margin: 5px
       }
       .file_input_box label{
           text-align: left;
       }
       .file_input_label{
           color: #FFFFFF;
           font-size: 20px;
           margin-top: 50px;
       }
        .file_input_icon{
            margin-top: 20px;
            margin-bottom: 18px;
       }
        .file_input_input input{
            margin-left: -5%;
            background-color: #f1f9ff;
            padding: 4%;
            color: #283b72;
            width: 110%;
            height: auto;
            border: 0;
            font-size: small;
        }

       /* Estilos para la zona de observaciones */
       .label_textarea{
           text-align: left;
           margin-right: 15px;
           margin-left: 15px;
       }
       .boton_registrar{
           background-color: #000A26;
           float: right;
           margin-top: 5px;
           margin-right: 15px;
       }

       .fa {
          display: inline-block;
          font: normal normal normal 10px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

    </style>

    <!--  -->
    <div class="Radicado_main_box">

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" style="margin-top: 15px">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}

        <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

             <button class="btn btn-primary btn-lg boton_registrar" type="submit" value="submit">Radicar</button>

            <div class="row id_factura_label">
                <label class="col-sm-5 col-form-label form-control-lg">Radicado de facturas</label>

                <label for="{{ form.radicador.id_for_label }}" hidden>{{ form.radicador.label }}</label>
                <input id="{{ form.radicador.id_for_label }}" name="{{ form.radicador.label }}" type="number" readonly hidden  value="{{ id_user }}">
            </div>

            <hr class="radicacion">

            {{ form.non_field_errors }}


            <div class="monto_content row input-group">
                <p class="col-sm-6 col-form-label"><strong>Fecha de radicado: </strong>{{ timezone_rad }}</p>
            </div>
            <br>
            <br>

            <div class="monto_content row input-group">
                {{ form.id_factura.error_messages }}
                <label for="colFormLabel" class="col-sm-4 col-form-label">Factura/cuenta de cobro</label>

                <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>
                <div class="monto_field">
                    {{ form.id_factura }}
                </div>

            </div>
            <br>

            <div class="monto_content row input-group">
                {{ form.monto_factura.error_messages }}
                <label for="colFormLabel" class="col-sm-3 col-form-label">Valor de la factura</label>

                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <div class="monto_field">
                    {{ form.monto_factura }}
                </div>
            </div>
            <br>
            <br>

            <div class="monto_content row input-group">
                {{ form.id_factura.error_messages }}
                <label for="colFormLabel" class="col-sm-3 col-form-label">Fecha inicial de factura*</label>

                <div class="input-group date monto_field" id="datetimepicker1" data-target-input="nearest">
                    {{ form.datetime_factura1 }}
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"  style="height: 38px"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <br>

            <div class="monto_content row input-group">
                {{ form.id_factura.error_messages }}
                <label for="colFormLabel" class="col-sm-3 col-form-label">Fecha final de factura*</label>

                <div class="input-group date monto_field" id="datetimepicker2" data-target-input="nearest">
                    {{ form.datetime_factura2 }}
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"  style="height: 38px"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <!-- Documentos requeridos para el radicado -->
            <div class="monto_content row input-group">
                <label for="colFormLabel" class="col-sm-3 col-form-label">Documentos*</label>
            </div>

            <div class="file_box row">

                {{ form.file_factura.error_messages }}
                {{ form.file_aportes.error_messages }}
                {{ form.file_soporte.error_messages }}
                {{ form.file_ribs.error_messages }}

                <div class="file_input_box">
                    <img class="file_input_icon" src="{% static '/resouces/upload.svg' %}" width="50px" height="50px" alt="">
                    <span class="file_input_label">Factura*</span>
                    <div class="file_input_input">
                        {{ form.file_factura }}
                    </div>
                </div>

                <div class="file_input_box">
                    <img class="file_input_icon" src="{% static '/resouces/upload.svg' %}" width="50px" height="50px" alt="">
                    <span class="file_input_label">Aportes*</span>
                    <div class="file_input_input">
                        {{ form.file_aportes }}
                    </div>
                </div>

                <div class="file_input_box">
                    <img class="file_input_icon" src="{% static '/resouces/upload.svg' %}" width="50px" height="50px" alt="">
                    <span class="file_input_label">Soportes de factura*</span>
                    <div class="file_input_input">
                        {{ form.file_soporte }}
                    </div>
                </div>
            </div>
            <br>

            <!-- Rips adjuntos al radicado -->
            <div class="monto_content row input-group">
                <label for="colFormLabel" class="col-sm-4 col-form-label">Rips adjuntos al radicado*</label>
            </div>

            <div class="file_box row">

                <div class="file_input_box">
                    <img class="file_input_icon" src="{% static '/resouces/upload.svg' %}" width="50px" height="50px" alt="">
                    <span class="file_input_label">Rips</span>
                    <div class="file_input_input">
                        {{ form.file_ribs }}
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group label_textarea">
                {{ form.regimen_type.error_messages }}
                <label for="regimen1" class="">Régimen</label>
                {{ form.regimen_type }}
            </div>

            <div class="form-group label_textarea">
                {{ form.sede_select.error_messages }}
                <label for="sede1" class="">Sede correspondiente</label>
                {{ form.sede_selection }}
            </div>

            <div class="form-group label_textarea">
                {{ form.observaciones.error_messages }}
                <label for="exampleFormControlTextarea1" class="">Observaciones</label>
                {{ form.observaciones }}
            </div>

            {{ form.datetime_radicado }}
        </form>
    </div>

    <script>

      $(function () {
        $("#datetimepicker1").datetimepicker({
            format: 'DD-MM-YYYY',
            startDate: '-3y'
        });
      });
      $(function () {
        $("#datetimepicker2").datetimepicker({
            format: 'DD-MM-YYYY',
            startDate: '-3y'
        });
      });

      $("#ViewActivitydiv1").on(
          "keydown keypress keyup click contextmenu", false
      );
      $("#ViewActivitydiv2").on(
          "keydown keypress keyup click contextmenu", false
      );

    </script>

{% endblock %}
