{% extends 'BaseLogonUsers/BaseSignUp.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block titulo %} {{ page_title }} {% endblock %}

{% block contenido_registro %}

    <style>
        .titulo_register{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 25px;
            font-weight: bold;
            font-size: 18px;
        }
        .boton_register{
            margin-bottom: 15px;
        }
    </style>

    <form method="POST">

        {% csrf_token %}
        <p class="titulo_register">REGISTRO DE USUARIOS EN EL PORTAL RADICACIÓN DE FACTURAS</p>

        {{ form | crispy }}

        <div class="form-group">
            <br>
            <button class="btn btn-primary btn-lg active boton_register" type="submit">Registrar</button>
            <a class="btn btn-link" role="button" href="{% url 'index' %}">Atrás</a>
        </div>

    </form>
{% endblock %}

